#searchbox {
	display:block;
	border:1px;
	background-color:white;
	color:black;
	padding:auto;
	margin:auto;
	float:left;

}
#header {
	padding:10px;
	display:block;
	float:right;
}

.aboutme li {
	padding-left:10px;
	padding-right:10px;
	list-style: none outside none;
	display:inline;
}
#signin {
	border:none;
	padding:12;
	color:white;
	background-color:blue;

}